body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem 0.75rem; 
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212; 
  color: #fff; 
}

.daily-container {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.day-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  max-width: 150px;
  height: 180px;
  padding: 10px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  border-radius: 12px;     
  box-shadow: 0 3px 6px rgba(0,0,0,0.4); 
  font-size: 0.9rem;
}

.search {
  width: 120px;
  height: 22px;
  text-align: center;
  margin-right: 5px;
  font-size: 0.9rem;
}

.search-btn {
  height: 28px;
  background-color: #2966d1;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #5888db;
}

.main-weather-container{
  display: flex;
  width: 100%;
  gap: 50px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.main-left{
  width: 300px;
}

.main-right{
  width: 300px;
}

.main-weather-container div{
  
  height: 350px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  border-radius: 10px;
}